<div>
  <h1 class="font-bold text-4xl">Welcome!</h1>
  <p>Hello there, <%= current_user.email %></p>

  <% if current_user.badge_awards.present? %>
    <br><p>You have earned the following badges:</p>
    <% current_user.badge_awards.each do |badge_award| %>
      <br><span style="font-size: 20px;"><%= "• #{badge_award.badge.name}" %>
      </span>
      <p><%= badge_award.badge.description %></p>
  <% end %>
  <% else %>
    <p>You don't have any badges yet! Get challenging!</p>
  <% end %>

</div>

